:root {
  font-size: 62.5%;
  height: 100dvh;
  --text_color: #f8f8f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lobster Two", sans-serif;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100dvh;
  width: 100%;
  transition: all 3s;
}

.intro {
  background-color: #000;
  height: 100%;
  width: 100%;
}

.container-v2 {
  height: 100%;
  width: 100%;
}

.heart-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-main {
  position: absolute;
  height: 20rem;
  width: 20rem;
  z-index: 1;
  cursor: pointer;
  color: #fff;
  animation: float 3s infinite;
  transition: all 3s ease;
}

.heart-main.enter {
  transform: scale(30) rotate(0deg);
}

#heart-main-inside {
  height: 20rem;
  width: 20rem;
  transition: transform 3s ease;
  opacity: 0;
}

.heart {
  position: absolute;
  height: 5rem;
  width: 5rem;
  color: #525252;
  transition: all 0.5s;
}

.heart-1 {
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.heart-2 {
  top: -25%;
  right: -25%;
  transform: rotate(45deg);
}

.heart-3 {
  top: 50%;
  right: -50%;
  transform: translateY(-50%) rotate(90deg);
}

.heart-4 {
  bottom: -25%;
  right: -25%;
  transform: rotate(135deg);
}

.heart-5 {
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.heart-6 {
  bottom: -25%;
  left: -25%;
  transform: rotate(225deg);
}

.heart-7 {
  top: 50%;
  left: -50%;
  transform: translateY(-50%) rotate(270deg);
}

.heart-8 {
  top: -25%;
  left: -25%;
  transform: rotate(315deg);
}

@keyframes float {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(10deg);
    color: #525252;
    filter: drop-shadow(0 0 50px #dbdbdb);
  }
  50% {
    color: #525252;
  }
  75% {
    transform: scale(1.2) rotate(-10deg);
    color: #525252;
    filter: drop-shadow(0 0 25px #dbdbdb);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes rotate_mini_hearts {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ly {
  opacity: 0;
  font-size: 4rem;
  filter: blur(0.5px);
  transition: all 0.5s;
}

.ly.animate {
  opacity: 1;
}

.lyv2,
.lyv3,
.lyv4,
.lyv5,
.lyv6,
.lyv7,
.lyv8,
.lyv9 {
  opacity: 0;
  color: #fff;
  font-size: 3rem;
  filter: blur(0.4px);
  transition: all 1.5s;
}

.lyv2.animate {
  opacity: 1;
}

.lyv2.animatev2 {
  opacity: 1;
  transition: all 3.5s;
}

.lyv3.animate {
  opacity: 1;
}

.lyv3.animatev3 {
  opacity: 1;
  transition: all 3.5s;
}

.lyv4.animate {
  opacity: 1;
}

.lyv4.animatev4 {
  opacity: 1;
  transition: all 3.5s;
}

.lyv5.animate {
  opacity: 1;
}

.lyv5.animatev5 {
  opacity: 1;
  transition: all 3.5s;
}

.lyv6.animate {
  opacity: 1;
}

.lyv6.animatev6 {
  opacity: 1;
  transition: all 3.5s;
}

.lyv7.animate {
  opacity: 1;
}

.lyv7.animatev7 {
  opacity: 1;
  transition: all 3.5s;
}

.lyv8.animate {
  opacity: 1;
}

.lyv8.animatev8 {
  opacity: 1;
  transition: all 3.5s;
}

.lyv9.animate {
  opacity: 1;
}

.lyv9.animatev9 {
  opacity: 1;
  transition: all 3.5s;
}

.lyrics {
  position: absolute;
  transition: all 0.5s;
  z-index: 1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.lyrics.out {
  opacity: 0;
}

.lyrics-v2 {
  position: absolute;
  transition: all 0.5s;
  z-index: 1;
  animation: moveX linear 10s forwards;
}

.lyrics-v2.out {
  opacity: 0;
  transition: all 1s;
}

.lyrics-v3 {
  position: absolute;
  transition: all 0.5s;
  z-index: 1;
  animation: moveX linear 10s forwards;
}

.lyrics-v3.out {
  opacity: 0;
  transition: all 1s;
}

.lyrics-v4 {
  position: absolute;
  transition: all 0.5s;
  z-index: 1;
  animation: moveX linear 10s forwards;
}

.lyrics-v4.out {
  opacity: 0;
  transition: all 1s;
}

.lyrics-v5 {
  position: absolute;
  transition: all 0.5s;
  z-index: 1;
  animation: moveX linear 10s forwards;
}

.lyrics-v5.out {
  opacity: 0;
  transition: all 1s;
}

.lyrics-v6 {
  position: absolute;
  transition: all 0.5s;
  z-index: 1;
  animation: moveX linear 10s forwards;
}

.lyrics-v6.out {
  opacity: 0;
  transition: all 1s;
}

.lyrics-v7 {
  position: absolute;
  transition: all 0.5s;
  z-index: 1;
  animation: moveX linear 10s forwards;
}

.lyrics-v7.out {
  opacity: 0;
  transition: all 1s;
}

.lyrics-v8 {
  position: absolute;
  transition: all 0.5s;
  z-index: 1;
  animation: moveX linear 10s forwards;
}

.lyrics-v8.out {
  opacity: 0;
  transition: all 1s;
}

.lyrics-v9 {
  position: absolute;
  transition: all 0.5s;
  z-index: 1;
  animation: moveX linear 10s forwards;
}

.lyrics-v9.out {
  opacity: 0;
  transition: all 1s;
}

@keyframes moveX {
  100% {
    transform: translateX(50%);
  }
}

.flower-holder {
  position: absolute;
  height: 100%;
  width: 100%;
}

.flowerBox {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.flower_A {
  position: absolute;
  height: 100%;
  width: 100%;
}

.flower_box1 {
  height: 23rem;
  width: 20rem;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.flower_box2 {
  height: 17rem;
  width: 20rem;
  bottom: -1rem;
  left: -1.5%;
  transform: rotateY(130deg);
}

.flower_box3 {
  height: 15rem;
  width: 16rem;
  bottom: -1rem;
  right: 0%;
  transform: rotateY(180deg);
}

.flower_box4 {
  height: 14rem;
  width: 15rem;
  bottom: -1rem;
  left: 20%;
}
.flower_box5 {
  height: 20rem;
  width: 18rem;
  bottom: -1rem;
  left: 10%;
}
.flower_box6 {
  height: 19rem;
  width: 17rem;
  bottom: -1rem;
  left: 30%;
  transform: rotateY(180deg);
}
.flower_box7 {
  height: 16rem;
  width: 17rem;
  bottom: -1rem;
  left: 53%;
}
.flower_box8 {
  height: 20rem;
  width: 18rem;
  bottom: -1rem;
  left: 65%;
  transform: rotateY(180deg);
}
.flower_box9 {
  height: 17rem;
  width: 17rem;
  bottom: -1rem;
  left: 75%;
}
.flower_box10 {
  height: 12rem;
  width: 12rem;
  bottom: -1rem;
  left: 95%;
}

.flower_box11 {
  height: 10rem;
  width: 9rem;
  bottom: -1rem;
  left: -2%;
}
.flower_box12 {
  height: 12rem;
  width: 8rem;
  bottom: -1rem;
  left: 7%;
  transform: rotateY(20deg);
}
.flower_box13 {
  height: 11rem;
  width: 11rem;
  bottom: -1rem;
  left: 16%;
  transform: rotateY(180deg);
}
.flower_box14 {
  height: 9rem;
  width: 11rem;
  bottom: -1rem;
  left: 28%;
  transform: rotateY(180deg);
}
.flower_box15 {
  height: 14rem;
  width: 14rem;
  bottom: -1rem;
  left: 36%;
}
.flower_box16 {
  height: 7rem;
  width: 6rem;
  bottom: -1rem;
  left: 43%;
  transform: rotateY(180deg);
}
.flower_box17 {
  height: 12rem;
  width: 10rem;
  bottom: -1rem;
  left: 49%;
}
.flower_box18 {
  height: 11rem;
  width: 10rem;
  bottom: -1rem;
  left: 62%;
  transform: rotateY(180deg);
}
.flower_box19 {
  height: 10rem;
  width: 10rem;
  bottom: -1rem;
  left: 83%;
}
.flower_box20 {
  height: 7rem;
  width: 7rem;
  bottom: -1rem;
  left: 88%;
  transform: rotateY(180deg);
}
.flower_box21 {
  height: 6rem;
  width: 7rem;
  bottom: -1rem;
  left: 60%;
  transform: rotateY(180deg);
}
.flower_box22 {
  height: 7rem;
  width: 7rem;
  bottom: -1rem;
  left: 67%;
}
.flower_box23 {
  height: 7rem;
  width: 7rem;
  bottom: -1rem;
  left: 74%;
  transform: rotateY(180deg);
}
.flower_box24 {
  height: 5rem;
  width: 4rem;
  bottom: -1rem;
  left: 3%;
  transform: rotateY(180deg);
}
.flower_box25 {
  height: 7rem;
  width: 7rem;
  bottom: -1rem;
  left: 10%;
}
.flower_box26 {
  height: 5rem;
  width: 4rem;
  bottom: -1rem;
  left: 27%;
}
.flower_box27 {
  height: 5rem;
  width: 5rem;
  bottom: -1rem;
  left: 16%;
}
.flower_box28 {
  height: 6rem;
  width: 6rem;
  bottom: -1rem;
  left: 53%;
  transform: rotateY(180deg);
}
.flower_box29 {
  height: 4rem;
  width: 4rem;
  bottom: -1rem;
  left: 81%;
  transform: rotateY(180deg);
}
.flower_box30 {
  height: 4rem;
  width: 3rem;
  bottom: -1rem;
  left: 71%;
}

@keyframes rise {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}

@keyframes upDown {
  50% {
    transform: translateY(5px);
  }
}

.flower_B {
  height: 37rem;
  width: 37rem;
  position: absolute;
  right: 1%;
  bottom: -5%;
  opacity: 0;
  transform: rotate(-45deg);
}

.flowerX_.bloom {
  animation:
    riseV2 18s forwards 1s,
    glow 5s linear infinite,
    floatV2 5s ease-in-out infinite,
    up 8s ease-out forwards;
}

@keyframes riseV2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.27143;
  }
}

@keyframes glow {
  50% {
    filter: drop-shadow(0 0 8px #fff);
  }
}

@keyframes floatV2 {
  0% {
    transform: rotate(-45deg) translateY(0);
  }
  50% {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  100% {
    transform: rotate(-45deg) translateY(0);
  }
}

@keyframes up {
  to {
    bottom: 30%;
  }
}
