:root {
  font-size: 62.5%;
  height: 100dvh;
  --text_color: #f8f8f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lobster Two", sans-serif;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100dvh;
}
.intro {
  background-color: #000;
  height: 100%;
  width: 100%;
}

.heart-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-holder {
  position: relative;
  animation: rotate_mini_hearts 5s infinite linear;
}

.heart-main {
  position: absolute;
  height: 20rem;
  width: 20rem;
  z-index: 1;
  cursor: pointer;
  /* filter: drop-shadow(0 0 3px red); */
  color: #fff;
  animation: float 3s infinite;
  transition: all 3s ease;
}

.heart-main.enter {
  transform: scale(20) rotate(0deg);
}

.heart-holder.enter {
  transform: scale(20);
}

#heart-main-inside {
  height: 20rem;
  width: 20rem;
  transition: transform 3s ease;
  opacity: 0;
}

.heart {
  position: absolute;
  height: 5rem;
  width: 5rem;
  color: #ff0000;
  transition: all 0.5s;
}

.heart-1 {
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.heart-2 {
  top: -25%;
  right: -25%;
  transform: rotate(45deg);
}

.heart-3 {
  top: 50%;
  right: -50%;
  transform: translateY(-50%) rotate(90deg);
}

.heart-4 {
  bottom: -25%;
  right: -25%;
  transform: rotate(135deg);
}

.heart-5 {
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.heart-6 {
  bottom: -25%;
  left: -25%;
  transform: rotate(225deg);
}

.heart-7 {
  top: 50%;
  left: -50%;
  transform: translateY(-50%) rotate(270deg);
}

.heart-8 {
  top: -25%;
  left: -25%;
  transform: rotate(315deg);
}

@keyframes float {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(10deg);
    color: #ff0000;
  }
  75% {
    transform: scale(1.2) rotate(-10deg);
    color: #ff0000;
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes rotate_mini_hearts {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ly {
  opacity: 0;
  font-size: 3rem;
}

.ly.animate {
  opacity: 1;
  transition: all 0.5s;
}
